{% extends "base.html" %}

{% block content %}
    <h1>Resume</h1>
    <p>Here is my resume.</p>
    <button id="fetchButton" class="btn">Download resume</button>
    <div id="download" class="download">
        <div class="download-content">
            <span class="close">&times;</span>
            <p> The file is ready, click button below to download resume.</p>
            <button id="downloadButton" class="btn">Download Resume</button>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='javascript/resume.js') }}"></script>
{% endblock %}