{% extends "base.html" %}

{% block content %}
<h1>Connect with Me</h1>
<div class="socials-container">
    <div class="social-card">
        <a href="https://www.linkedin.com/in/maciejfularz/" target="_blank">
            <i class="fab fa-linkedin"></i>
            <p>LinkedIn</p>
        </a>
    </div>
    <div class="social-card">
        <a href="https://github.com/plushaq/" target="_blank">
            <i class="fab fa-github"></i>
            <p>GitHub</p>
        </a>
    </div>
    <div class="social-card">
        <a href="https://facebook.com/plushaq/" target="_blank">
            <i class="fab fa-facebook"></i>
            <p>Facebook</p>
        </a>
    </div>
    <div class="social-card">
        <a href="https://www.instagram.com/why_not_pancakes/" target="_blank">
            <i class="fab fa-instagram"></i>
            <p>Instagram</p>
        </a>
    </div>
</div>
{% endblock %}
